html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background-color: black; /* Set background color for the entire page */
}

#main-content {
    height: 100%;
    position: relative; /* Ensure relative positioning for absolute elements */
    overflow: hidden; /* Hide any overflowing content within the main content area */
}

.element {
    transform: translate3d(0, 0, 0); /* Apply hardware acceleration */
    /* or */
    will-change: transform; /* Indicate to the browser that this element's transform property will change */
}

.preloader,
.slider,
.slide,
.slide-content,
.slide-img,
.pagination,
.description {
    max-height: 100vh; /* Limit height to viewport height */
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DINRoundPro-Medi', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    opacity: 0;
    background: black;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000; /* Adjust color as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000; /* Ensure it is above all other content */
}

.preloader .logo {
    font-size: 4em;
}

.loading-percentage {
    margin-top: 20px;
    font-size: 4rem;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #ff5858, #f857a6);
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #ff5858, #f857a6);
    overflow: hidden;
}

.slide.dark {
    background: black;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide-content h1 {
    font-size: 12vw;
    text-transform: uppercase;
    color: white;
}

.slide.dark .slide-content h1 {
    color: #dbdbdb;
}
h1{
    font-weight:400;
}

.slide-img {
    position: absolute;
    width: 250px;
    height: 150vh;
}

.slide-img img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 600px;
}

.slide-img-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
}

.slide-img-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
}

.navbarCtn {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: transparent;
    z-index: 100;
    padding:24px 20px;
    gap: 10em;
}

.navbarCtn span {
    color: white;
    font-size: 1rem;
    font-weight: 200;
}

.rightCtn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 2em;
}

.pagination {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
}

.pagination span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.pagination .active {
    background-color: #555;
} 


.description {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    display: flex;
    align-items: center;
}


span{
    font-weight: 200;
}

.overlay-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    color: white;
}

.left-footer, .right-footer {
    display: inline-block;
}

.right-footer {
    text-align: right;
}

@media (max-width: 768px) {

    .slide-content {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .slide-img img {
        position: absolute;
        top: 43%;
        transform: translateY(-43%);
        width: 250px;
        height: 600px;
    }
    
    .slide-img-1 {
        top: 43%;
        left: 50%;
        transform: translate(-43%, -50%) rotate(-20deg);
    }
    
    .slide-img-2 {
        top: 43%;
        left: 50%;
        transform: translate(-43%, -50%) rotate(20deg);
    }

    .navbarCtn {
        padding: 1em; /* Adjust padding for spacing */
        gap: 1em; /* Adjust gap between items */
    }

    .rightCtn {
        gap: 1em; /* Adjust gap between items */
    }

    .pagination {
        right: 20px; 
        bottom: 140px;
    }

    .pagination .line {
        width: 50px; /* Adjust width */
    }

    .description {
        left: 20px; /* Adjust position */
        bottom: 140px;
    }

    .slide-content h1 {
        font-size: 3.8em; /* Adjust font size */
    }

    .slide-img {
        width: 180px; /* Adjust width for smaller screens */
        height: 50vh; /* Adjust height for smaller screens */
    }

    span {
        font-size: 14px; /* Adjust font size */
    }

    .navbarCtn span {
        font-size: 14px; /* Adjust font size */
    }
}